body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel-container {
    width: 100%;
    max-width: 550px;
    margin: auto;
    overflow: hidden;
    position: relative;
  }
  .carousel-images {
    display: flex;
    transition: transform 1s ease; /* Transição suave */
  }
  .carousel-images img {
    width: 100%;
    height: auto;
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
  }
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }